<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar>
        <ion-title>Scanner App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      My App
    </ion-content>
  </div>
</template>

<script>

export default {
  name: 'Home',

}
</script>
